@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
  background-color: #0a6d70;
  min-height: 100vh;
  padding: 20px;

}
.header{
  display: flex;
  justify-content: right;
  background-color: #0a6d70;
  gap: 40px;
  font-size: 20px;  
  color: #ffff;
  padding: 30px;
  }
  h1{
    color: rgba(17, 236, 17, 0.788);
    font-size: 50px;
  }
  h2{
    color:rgb(5, 151, 235);
    font-size: 30px;
  }
  span{
    color: rgb(255, 174, 174);
  }
  .para{
    color: #ffff;
    display: flex;
    justify-content: right;
    margin-top: -140px;
  
  }
  .intro{
    margin-left: 190px;
    margin-top: 20px;
  }
  
  @media only screen and (max-width: 400px) {
    .container {
      padding: 10px; 
    }
  
    .header {
      display: flex; 
      justify-content: right;
      padding: 15px;
      gap: 20px; 
    }
  
    .header ul {
      padding: 0; 
      margin: 0; 
    }
  
    h1 {
      font-size: 28px; 
      text-align: center; 
    }
  
    h2 {
      font-size: 20px; 
      text-align: center; 
    }
  
    .para {
    
      justify-content: center; 
      margin-top: 0; 
     text-align: center;
    }
  
    .intro {
      margin-left: 0; 
      margin-top: 15px; 
    }
  
  }